@{
    ViewBag.Title = "Home Page";
}

<h2 class="home-title">Let us help you find your favorite TV Show...</h2>
<div id="myCarousel" data-ride="carousel" > <!--Removed class="carousel slide" -->
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner slide-position" role="listbox">
        <div class="item active slide-format">
            <img src="https://pbs.twimg.com/tweet_video_thumb/CFZRFTEVEAAvaq_.png" alt="TV Show">
        </div>

        <div class="item slide-format">
            <img src="http://images.cwtv.com/images/c/0040/jtv-tout_122453-9d99c0-302x252.jpg" alt="TV Show">
        </div>

        <div class="item slide-format">
            <img src="http://is5.mzstatic.com/image/thumb/Video/v4/49/91/eb/4991ebbb-f521-99c0-e143-2f47d13c985e/mzl.bpjdwycx.lsr/600x600bb-85.jpg" alt="TV Show">
        </div>

        <div class="item slide-format">
            <img src="http://www.usanetwork.com/sites/usanetwork/files/styles/2880x1260/public/2015/05/svu_castinfo_2880x1260.jpg?itok=NlIy0poJ" alt="TV Show">
        </div>

        <div class="item slide-format">
            <img src="http://www.much.com/wp-content/uploads/2015/05/featured-south-park1.jpg" alt="TV Show">
        </div>

        <div class="item slide-format">
            <img src="http://d2.christiantoday.com/en/full/21161/family-guy.jpg" alt="TV Show">
        </div>

        <div class="item slide-format">
            <img src="http://ecx.images-amazon.com/images/I/51O5Rvi8XZL._SX940_.jpg" alt="TV Show">
        </div>

        <div class="item slide-format">
            <img src="http://images.akamai.steamusercontent.com/ugc/536268416069588356/9A3328C7794D455E6711557C483007B1231EA3BE/" alt="TV Show">
        </div>

        <div class="item slide-format">
            <img src="http://www.themarysue.com/wp-content/uploads/2015/09/brooklyn-nine-nine1.jpg" alt="TV Show">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!--
<div class="home-background"></div>

<div class="jumbotron">
    <h1>TV SHOW DATABASE</h1>
    <p class="lead">This is a database of networks and their TV shows</p>
</div>

    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->