body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Evans custom CSS begins here ***********************************************/
.header-float-right{
    float: right;
}

.img-thumbnail{
    max-height:100px;
    max-width:100px;
}

.home-background{  /* sets the background image for the home page */
    /*background:transparent url("http://prod.ninu.s3.amazonaws.com/encoded_files/303180-full_poster/frame_0000.jpg") no-repeat;
    height:600px;
    background-position:center;
    background-size:contain;
    background-color:yellow;*/
    background:transparent url("https://i.ytimg.com/vi/Oh-w6pN8gUo/maxresdefault.jpg");
}

.slide-position{
    position:center;
    padding-top:50px;
    padding-left:250px;
    padding-right:250px;
}

.slide-format{
    height:400px;
}

.home-title{
    font-family: 'Caveat', cursive;
    font-size:72px;
    color:yellow;
    //padding-left:50px;
    text-align:center
}

.page-title{
    font-family: 'Caveat', cursive;
    font-size:60px;
    color:yellow;
}

.link-format{
    background-color:yellow;
    font-size:16px;
    padding-left:10px;
}

.table{
    background-color:white;
}

.carousel-control{
    color:yellow;
}

.thumbnail{
    margin:20px;
}

.caption {
    text-align: center;
}